@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Caroline = "Hickey";  //holds a variable that you can use through out the cshtml
    ViewBag.CoolClass = "IS 413";
}

@model ExperimentApp2.models.GradesModel

<div id="grade" name="grade">
    <!-- Form to calculate score in class -->
    <h2>@ViewBag.CoolClass Grade</h2> <!-- Razor ViewBag code-->
    <form method="post">
        <label asp-for="quiz">Exams:</label> <!--Form for calculating grade-->
        <input id="exam" asp-for="exam" />
        <br />
        <label asp-for="quiz">Quizzes:</label>
        <input id="quiz" asp-for="quiz" />
        <br />
        <label asp-for="quiz">Assignments:</label>
        <input id="assignment" asp-for="assignment" />
        <br />
        <label asp-for="quiz">Project:</label>
        <input id="project" asp-for="project" />
        <br />
        <label asp-for="quiz">INTEX:</label>
        <input id="intex" asp-for="intex" />
        <br />
        <br />
        <input type="submit" value="Submit" id="submitbutton" />
        <!--<button type="button" onclick="calculate()">Grade Calculator</button>-->
        <div asp-validation-summary="All"></div>
    </form>
    <h3>Percent Grade:</h3>
    <p id="percentage"></p>
    <h3>Letter Grade:</h3>
    <p id="lettergrade"></p>
</div>